[data-md-color-scheme="light"] {
  .md-nav__title[for="__toc"] {
    color: #000000 !important;
  }

  .md-nav__title[for="__nav_0"],
  .md-nav__title[for="__nav_1"],
  .md-nav__title[for="__nav_2"],
  .md-nav__title[for="__nav_3"],
  .md-nav__title[for="__nav_4"],
  .md-nav__title[for="__nav_5"],
  .md-nav__title[for="__nav_6"],
  .md-nav__title[for="__nav_7"] {
    color: #000000 !important;
  }

  --md-primary-fg-color: #ffd100;
  /* --md-primary-fg-color--light: red; */
  --md-primary-fg-color--dark: #ffd100;
  --md-primary-bg-color: #000000;
  --md-primary-bg-color--light: #000000;

  --md-accent-fg-color: #ddb506;
  /* --md-accent-fg-color--transparent: red; */
  /* --md-accent-bg-color: red; */
  /* --md-accent-bg-color--light: red; */

  --md-default-fg-color: #000000;
  --md-default-fg-color--light: #000000;
  /* --md-default-fg-color--lighter: red; */
  --md-default-fg-color--lightest: #ffd100;
  --md-default-bg-color: #ffffff;
  /* --md-default-bg-color--light: red; */
  /* --md-default-bg-color--lighter: red; */
  /* --md-default-bg-color--lightest: red; */

  --md-code-fg-color: #36464e;
  --md-code-bg-color: #f5f5f5;

  --md-code-hl-color: hsla(#{hex2hsl($clr-blue-a200)}, 1);
  --md-code-hl-color--light: hsla(#{hex2hsl($clr-blue-a200)}, 0.1);

  --md-code-hl-number-color: hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color: hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color: hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color: hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color: hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);

  --md-typeset-color: var(--md-default-fg-color);

  --md-typeset-a-color: var(--md-primary-fg-color);

  /* --md-typeset-del-color: red; */
  /* --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15); */

  /* --md-typeset-kbd-color: red;
  --md-typeset-kbd-accent-color: red;
  --md-typeset-kbd-border-color: red; */

  /* --md-typeset-mark-color: red; */

  /* --md-typeset-table-color: red;
  --md-typeset-table-color--light: red; */

  /*--md-admonition-fg-color: red;
  --md-admonition-bg-color: red;

  --md-warning-fg-color: red;
  --md-warning-bg-color: red;*/

  --md-footer-fg-color: #000000;
  --md-footer-fg-color--light: #ffffff;
  --md-footer-fg-color--lighter: #5e5e5e;
  --md-footer-bg-color: #ffffff;
  --md-footer-bg-color--dark: #ffd100;

  /* --md-shadow-z1: 0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.05),
    0 0 #{px2rem(1px)} hsla(0, 0%, 0%, 0.1);

  --md-shadow-z2: 0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.1),
    0 0 #{px2rem(1px)} hsla(0, 0%, 0%, 0.25);

  --md-shadow-z3: 0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.2),
    0 0 #{px2rem(1px)} hsla(0, 0%, 0%, 0.35); */
}

[data-md-color-scheme="dark"] {
  .md-content__inner h2,
  h3 {
    color: #ffffff;
  }

  .md-nav__title[for="__toc"] label {
    color: #ffffff;
  }

  .md-nav__title[for="__toc"] {
    color: #ffd100 !important;
  }

  .md-nav__title[for="__nav_0"],
  .md-nav__title[for="__nav_1"],
  .md-nav__title[for="__nav_2"],
  .md-nav__title[for="__nav_3"],
  .md-nav__title[for="__nav_4"],
  .md-nav__title[for="__nav_5"],
  .md-nav__title[for="__nav_6"],
  .md-nav__title[for="__nav_7"] {
    color: #ffffff !important;
  }

  --md-primary-fg-color: #111111;
  /* --md-primary-fg-color--light: red; */
  --md-primary-fg-color--dark: #111111;
  --md-primary-bg-color: #ffffff;
  --md-primary-bg-color--light: rgb(226, 226, 226);

  --md-accent-fg-color: #ddb506;
  /* --md-accent-fg-color--transparent: red; */
  /* --md-accent-bg-color: red; */
  /* --md-accent-bg-color--light: red; */

  --md-default-fg-color: #ffffff;
  --md-default-fg-color--light: #ffd100;
  --md-default-fg-color--lighter: #ffd100;
  --md-default-fg-color--lightest: #ffffff28;
  --md-default-bg-color: #171717;
  /* --md-default-bg-color--light: red; */
  /* --md-default-bg-color--lighter: red; */
  /* --md-default-bg-color--lightest: red; */

  --md-code-fg-color: #aeaeae;
  --md-code-bg-color: rgb(15, 15, 15);

  --md-code-hl-number-color: hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color: hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color: hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color: hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color: hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color: #aeaeae;
  --md-code-hl-operator-color: #777777;
  --md-code-hl-punctuation-color: #aeaeae;
  --md-code-hl-comment-color: #575757;
  --md-code-hl-generic-color: #aeaeae;
  --md-code-hl-variable-color: #aeaeae;

  --md-typeset-color: #dadada;

  --md-typeset-a-color: #ffd100;

  /* --md-typeset-del-color: red; */
  /* --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15); */

  /* --md-typeset-kbd-color: red;
  --md-typeset-kbd-accent-color: red;
  --md-typeset-kbd-border-color: red; */

  /* --md-typeset-mark-color: red; */

  /* --md-typeset-table-color: red;
  --md-typeset-table-color--light: red; */

  --md-admonition-fg-color: rgb(255, 255, 255);
  --md-admonition-bg-color: rgba(33, 33, 33, 0);

  /*--md-warning-fg-color: red;
  --md-warning-bg-color: red;*/

  --md-footer-fg-color: #ffffff;
  --md-footer-fg-color--light: #ffd100;
  --md-footer-fg-color--lighter: #5e5e5e;
  --md-footer-bg-color: var(--md-default-bg-color);
  --md-footer-bg-color--dark: #010101;

  /* --md-shadow-z1: 0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.05),
    0 0 #{px2rem(1px)} hsla(0, 0%, 0%, 0.1);

  --md-shadow-z2: 0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.1),
    0 0 #{px2rem(1px)} hsla(0, 0%, 0%, 0.25);

  --md-shadow-z3: 0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.2),
    0 0 #{px2rem(1px)} hsla(0, 0%, 0%, 0.35); */

  img[alt="Curbă de performanță a unui motor"] {
    filter: invert(1);
  }
}

.md-content__inner a {
  text-decoration: underline !important;
}

.md-header__button.md-logo img {
  height: 1.5rem !important;
  width: auto !important;
}
